.Notifications{
    padding: 5px;
    border: 1px solid crimson;
}
[data-notification-type='default'] {
    color: blue;
}    
[data-notification-type='urgent'] {
 color: red;   
}
/* [type='default'] {
    color: blue;
}    
[type='urgent'] {
 color: red;   
} */
